@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 163px;
  height: 100vh;
  padding: 0 2rem;
  color: #ffffff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(37, 39, 51, 1);
}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 80%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 2rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5 ease-in-out;
}
.menu li:hover,
.active {
  background: #e0e0e058;
}
.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
}

.menu h4{
  text-align: center;
}

.menu a span {
  display: inline-block; /* Menambahkan display: inline-block; pada elemen span */
  max-width: 200px; /* Menambahkan max-width: 0; pada elemen span */
  white-space: nowrap; /* Menambahkan white-space: nowrap; pada elemen span */
  overflow: hidden; /* Menambahkan overflow: hidden; pada elemen span */
  transition: max-width 0.5s ease-out; /* Menambahkan transition pada elemen span */
}

.menu a h2{
  text-align: center;

}


.text{
  color: #fff;
}

.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.logout a span{
  display: inline-block; /* Menambahkan display: inline-block; pada elemen span */
  max-width: 200px; /* Menambahkan max-width: 0; pada elemen span */
  white-space: nowrap; /* Menambahkan white-space: nowrap; pada elemen span */
  overflow: hidden; /* Menambahkan overflow: hidden; pada elemen span */
  transition: max-width 0.5s ease-out; /* Menambahkan transition pada elemen span */
  color: white;

}

.main--content {
  position: relative;
  background: #b3b2b2;
  width: 100%;
  padding: 1rem;
}

.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header--title {
  color: rgba(113, 99, 186, 225);
}
.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search--box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(113, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.search--box input {
  background: transparent;
  padding: 10px;
}
.search--box i {
  font-size: 1.2rem;
  transition: all 0.5 ease-out;
}
.search--box i:hover {
  transform: scale(1.1);
}

/*card container*/

.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main--title {
  color: rgba(113, 99, 186, 225);
  padding-bottom: 10px;
  font-size: 15px;
}

.data--card {
  background: rgb(229, 223, 223);
  border-radius: 10px;
  padding: 1.2rem;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.data--card:hover {
  transform: translateY(-5px);
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.amount {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  font-weight: 200;
}
.amount--value {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
.icon {
  color: #fff;
  padding: 1rem;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background: red;
}
.card-detail {
  font-size: 18px;
  color: #777777;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
}

/*color css */
.light-red {
  background: rgb(254, 233, 254);
}
.light-purple {
  background: rgb(251, 226, 254);
}
.light-green {
  background: rgb(235, 254, 235);
}
.light-blue {
  background: rgb(236, 236, 254);
}
.dark-red {
  background: red;
}
.dark-purple {
  background: purple;
}
.dark-green {
  background: green;
}
.dark-blue {
  background: blue;
}

/*tabular--section*/
.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background: rgba(113, 99, 186, 225);
  color: #fff;
}
th {
  padding: 15px;
  text-align: left;
}
tbody {
  background: #f2f2f2;
}
td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}
tr:nth-child(even) {
  background: #fff;
}
tfoot {
  background: rgba(113, 99, 186, 225);
  font-weight: bold;
  color: #fff;
}
tfoot td {
  padding: 15px;
}
.table-container button {
  color: green;
  background: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.wrapper {
  display: flex;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  transition: background 0.3s;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu li:hover {
  background-color: #34495e;
}

.main--content {
  flex: 1;
  padding: 20px;
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--title {
  color: rgba(37, 39, 51, 1);
}

.form--container {
  max-width: 500px;
  margin: 0 auto;
}

form {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: x#000000;
}

input,
select {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: rgba(37, 39, 51, 1);
  color: #ecf0f1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header--title1 {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 15px;
}

.button_sort {
  color: aliceblue;
}


.tampil-image{
  object-fit: cover;
}
